# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Environment
.env

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/


# ML models generate locally
backend/ml/models_saved/

# Logs
logs/
